
$stack-settings: (
    primary-font:             #{Roboto, "Helvetica Neue", sans-serif},
    secondary-font:           #{Roboto, "Helvetica Neue", sans-serif},
    primary-line-height:      1.3,
    primary-letter-spacing:   tracking(-25),
    secondary-line-height:    1.5,
    secondary-letter-spacing: tracking(-25),
    base-size:                100%,
);

// These weight names correspond to the
// weights in fonts.google.com
$font-weights: (
    light:        300,
    medium:       500,
);

$breakpoints: (
    'min-fl': "min-width: 320px",
    'min-sm': "min-width: 576px",
    'min-ms': "min-width: 640px",
    'min-md': "min-width: 768px",
    'min-ml': "min-width: 800px",
    'min-lg': "min-width: 992px",
    'min-xl': "min-width: 1200px",
    'max-fl': "max-width: 320px",
    'max-sm': "max-width: 576px",
    'max-ms': "max-width: 640px",
    'max-md': "max-width: 768px",
    'max-ml': "max-width: 800px",
    'max-lg': "max-width: 992px",
    'max-xl': "max-width: 1200px"
);

// Need names for colors? Go to http://joecianflone.github.io/colormapper/
// put a hex code in there and it will give your color a name
$colors: (
    black: #000000,
    celeste: #cccccc,
    white: #ffffff,
    tawny: #d35400,
    tundora: #444444,
    bali-hai: #83a0ae,
    teal-blue: #3a728c,
    ebony-clay: #22313f,
    jelly-bean: #2574a9,
);



// Your defaults for Susy and for the flexbox grid.
// For more information see:
// http://susydocs.oddbird.net/en/latest/
@include layout((
    columns: 12,
    gutter-position: inside,
    gutters: 0,
    global-box-sizing: border-box,
));

$current-zindex: 100;
$site-floor:     320px;
