.page {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;

    &__main {
        flex: 1 1 auto;
        order: 1;
        overflow: scroll;
        padding-left: span(1);
        padding-right: rem(20px);
    }
    &__secondary {
        background: get-color(ebony-clay);
        flex: 0 0 rem(200px);
        order: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-right: rem(10px);

        @media (get-breakpoint(max-ms)) {
            flex: 0 0 100vw;
        }

        &.js-is-closed {
            flex: 0 0 rem(55px);
            overflow: visible;
        }
    }
}