.post {
    padding: 0 0 rem(50px) 0;

    &__headline {
        margin: 0 0 rem(15px) 0;
    }

    p {
        margin-bottom: rem(10px);
        line-height: 1.4;
    }

    h2 {
        margin: rem(25px) 0 rem(8px) 0;
    }
}