.navigation {
    &__button {
        color: get-color(white);
        display: inline-block;
        padding: rem(20px) 0;
        position: relative;

        &-bars {
            display: inline-block;
            float: left;
            font-size: rem(24px);
            padding: rem(23px) rem(10px) 0 0;

            &.js-is-closed {
                padding: rem(23px) rem(19px) 0 0;
            }
        }

        &-indicator {
            display: inline-block;
            font-size: rem(72px);
            margin-right: rem(-4px);

            &.js-is-closed {
                display: none;
            }

            &--closed {
                display: inline-block;
                font-size: rem(72px);
                position: absolute;
                right: rem(-15px);
                color: get-color(ebony-clay);
                margin-right: rem(-4px);

                &.js-is-closed {
                    display: block;
                }
            }
        }
    }

    &__main {
        color: get-color(white);
        font-size: rem(24px);
        font-weight: get-font-weight(medium);
        padding: rem(40px) rem(10px) rem(15px) rem(10px);

        @media (get-breakpoint(max-ms)) {
            font-size: rem(32px);
        }

        &.js-is-closed {
            display: none;
        }
    }

    &__secondary-list {
        font-size: rem(18px);
        font-weight: get-font-weight(light);
        padding: 0 0 rem(15px) 0;

        @media (get-breakpoint(max-ms)) {
            font-size: rem(24px);
            padding: rem(5px) 0 rem(30px) 0;
        }
    }

    &__secondary-list-item {
        padding: rem(3px) 0 rem(5px) 0;
    }
}