.tweet {
    padding: rem(25px) 0 rem(40px) 0;

    &__avatar {
        border-radius: 50%;
        position: absolute;
        height: rem(35px);
        width: rem(35px);
        opacity: 0.5;
    }
    &__type {
        position: relative;
        height: rem(35px);
        width: rem(35px);
    }
    &__icon {
        position: absolute;
        bottom: -10px;
        right: -10px;
    }
    &-content {
        &__text {
            font-size: rem(36px);
            font-weight: get-font-weight('light');
            padding: 0;
            margin: 0;

            a {
                color: get-color(tawny);
            }
        }
    }
}
