.header {
    @include container();
    padding: rem(10px) rem(10px) rem(50px) rem(10px);

    &__logo {
        @include span(last 12);
        text-align: right;

        img { float: right; }
    }
}