.pagination {
    list-style-type: none;
    padding: 0;
    margin: rem(60px) 0;

    li {
        display: inline-block;

        a {
            color: get-color(teal-blue);
            font-weight: get-font-weight(medium);
            display: block;
            padding: rem(15px);
        }

        &.disabled, &.active {
            padding: rem(15px);
        }

        &.active {
            color: get-color(tawny);
            text-decoration: none;
        }

        &.disabled {
            color: get-color(tundora);
        }

        @include first-elem() {
            font-size: rem(24px);
        }

        @include last-elem() {
            font-size: rem(24px);
        }

    }
}